@import "mocha.css";

* {
    font-family: "MesloLGS Nerd Font Mono Bold";
    min-height: 0;
    font-weight: bold;
}

tooltip * {
    background: transparent;
    border: none
}

tooltip.background {
    background: rgba(29, 32, 33, 0.7);
    border-radius: 16px;
    border: 1px solid rgba(29, 32, 33, 0.8);
}

window#waybar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    background-color: transparent;

    color: white;
    font-size: 12px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    transition-property: background-color;
    transition-duration: 0.1s;
}

#window {
    padding: 15px;
}

/** Modules Left */

.modules-left {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 14px;
}

#workspaces {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
}

#workspaces button {
    border-radius: 100px;
    padding: 5px 15px;
    color: white;
}

#workspaces button.hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.2);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

/** Modules Right */

.modules-right {
    margin-right: 15px;
    margin-top: 15px;

    padding: 0px;

    border-radius: 100px;

    font-size: 14px;

    background-color: rgba(0, 0, 0, 0.2);
}

#pulseaudio,
#bluetooth,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad,
#gamemode,
#idle_inhibitor {
    border-radius: 100px;
    padding: 6px 15px;
}

#tray {
    border-radius: 100px;
    padding: 6px 15px;

    background-color: rgba(0, 0, 0, 0.2);
}
