@import "mocha.css";

* {
    font-family: "MesloLGS Nerd Font Mono Bold";
    font-size: 14px;
    min-height: 0;
    font-weight: bold;
}

tooltip * {
    background: transparent;
    border: none
}

tooltip.background {
    background: rgba(29, 32, 33, 0.7);
    border-radius: 16px;
    border: 1px solid rgba(29, 32, 33, 0.8);
}

window#waybar {
    background: transparent;
    background-color: transparent;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition-property: background-color;
    transition-duration: 0.1s;
    /* border-bottom: 1px solid @overlay1; */
}

#window {
    margin: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @mauve;
}

.modules-left {
    margin-left: 15px;
    margin-top: 10px;
}

.modules-right {
    margin-right: 15px;
    margin-top: 10px;
}

#workspaces {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 100px;
}

#workspaces button {
    border-radius: 100px;
    padding: 10px 20px;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    color: @rosewater;
    /* border-top: 2px solid @rosewater; */
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: @mauve;
    /* border-top: 2px solid @mauve; */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#pulseaudio,
#bluetooth,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
    margin-right: 8px;

    border-radius: 100px;
    padding: 10px 20px;

    background-color: rgba(0, 0, 0, 0.3);
}

#clock {
    color: @maroon;
}

#clock.date {
    color: @maroon;
}

#bluetooth {
    color: @teal;
}

#pulseaudio {
    color: @blue;
}

#network {
    color: @yellow;
}

#idle_inhibitor {
    margin-right: 12px;
    color: #7cb342;
}

#idle_inhibitor.activated {
    color: @red;
}

#battery {
    color: @green;
}

#custom-vpn {
    color: @lavender;
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
}